:root {
      --primary: #6c63ff;
      --secondary: #00d4ff;
      --dark: #0f172a;
      --light: #f8fafc;
      --text: #94a3b8;
      --card: rgba(255, 255, 255, 0.06);
      --border: rgba(255, 255, 255, 0.1);
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Segoe UI", sans-serif;
      background: var(--dark);
      color: white;
      overflow-x: hidden;
    
    }

    a {
      text-decoration: none;
    }

    .navbar {
      backdrop-filter: blur(12px);
      background: rgba(15, 23, 42, 0.7);
      border-bottom: 1px solid var(--border);
    }

    .navbar-brand {
      font-size: 1.5rem;
      font-weight: 700;
      color: white !important;
    }

    .nav-link {
      color: #cbd5e1 !important;
      margin-left: 18px;
      transition: 0.3s;
    }

    .nav-link:hover {
      color: var(--secondary) !important;
    }

    /* HERO */
    .hero {
      overflow: hidden;
      min-height: 100vh;
      display: flex;
      align-items: center;
      position: relative;
  
      background:
        radial-gradient(circle at top left, #6c63ff33, transparent 30%),
        radial-gradient(circle at bottom right, #00d4ff22, transparent 30%);
    }

    .hero h1 {
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.1;
    }

    .hero h1 span {
      background: linear-gradient(90deg, var(--primary), var(--secondary));
      background-clip:text;
      color: transparent;
    }

    .hero p {
      color: var(--text);
      font-size: 1.1rem;
      margin-top: 20px;
      max-width: 600px;
    }

    .hero-btns {
      margin-top: 35px;
    }

    .btn-main {
      background: linear-gradient(90deg, var(--primary), var(--secondary));
      color: white;
      border: none;
      padding: 14px 32px;
      border-radius: 50px;
      font-weight: 600;
      transition: 0.3s;
    }

    .btn-main:hover {
      transform: translateY(-4px);
      box-shadow: 0 10px 30px rgba(108, 99, 255, 0.3);
    }

    .btn-outline-custom {
      border: 1px solid var(--border);
      padding: 14px 30px;
      border-radius: 50px;
      color: white;
      margin-left: 15px;
      transition: 0.3s;
    }

    .btn-outline-custom:hover {
      background: white;
      color: black;
    }

    .hero-image {
      position: relative;
      width: 100%;
    }

    .hero-image img {
      height: 600px;
      object-fit: contain;
      border-radius: 30px;
      border: 1px solid var(--border);
     
    }

    .floating-card {
      position: absolute;
      background: var(--card);
      backdrop-filter: blur(14px);
      border: 1px solid var(--border);
      border-radius: 20px;
      padding: 15px 20px;
      color: white;
      animation: float 4s ease-in-out infinite;
    }

    .card-1 {
      top: 10%;
      left: -10%;
    }

    .card-2 {
      bottom: 10%;
      right: 10%;
    }

    @keyframes float {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0px);
      }
    }
/* =============skills start================ */
    /* SECTION */
    #skills{
      overflow: hidden;
    }
    section {
      padding: 100px 0;
    }

    .section-title {
      text-align: center;
      margin-bottom: 70px;
    }

    .section-title h2 {
      font-size: 2.7rem;
      font-weight: 800;
    }

    .section-title p {
      color: var(--text);
      max-width: 700px;
      margin: auto;
      margin-top: 15px;
      font-size: 1.3rem;
    }

    /* SKILLS */
    .skill-card {
      background: var(--card);
      border: 1px solid var(--border);
      border-radius: 25px;
      padding: 35px;
      transition: 0.4s;
      height: 100%;
    }

    .skill-card:hover {
      transform: translateY(-10px);
      border-color: var(--secondary);
    }

    .skill-card i {
      font-size: 3rem;
      color: var(--secondary);
      margin-bottom: 20px;
    }

    .skill-card h4 {
      margin-bottom: 15px;
      font-weight: 700;
    }

    .skill-card p {
      color: var(--text);
    }

    /* PROJECTS */
      #projects{
    overflow: hidden;

  }
    .project-card {
      overflow: hidden;
      border-radius: 25px;
      position: relative;
      height: 300px;
      cursor: pointer;
    }

    .project-card img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      transition: 0.5s;
    }

    .project-overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.2)
      );
      display: flex;
      align-items: end;
      padding: 30px;
      opacity: 0;
      transition: 0.5s;
    }

    .project-card:hover img {
      transform: scale(1.1);
    }

    .project-card:hover .project-overlay {
      opacity: 1;
    }

    .project-overlay h4 {
      font-weight: 700;
    }

    .project-overlay p {
      color: #ddd;
    }

    /* ABOUT */
    #about{
      overflow: hidden;
    }
    .about-box {
      background: var(--card);
      border: 1px solid var(--border);
      padding: 50px;
      border-radius: 30px;
    }

    .about-box p {
      color: var(--text);
      line-height: 2;
      font-size: 1.3rem;
      width: 100%;
    }

    /* CONTACT */
    #contact{
      overflow: hidden;
    }
    .contact-box {
      background: linear-gradient(
        135deg,
        rgba(108, 99, 255, 0.15),
        rgba(0, 212, 255, 0.12)
      );
      border: 1px solid var(--border);
      padding: 70px;
      border-radius: 35px;
      text-align: center;
    }

    .contact-box h2 {
      font-size: 3rem;
      font-weight: 800;
    }

    .contact-box p {
      color: #d1d5db;
      margin-top: 20px;
      margin-bottom: 35px;
      font-size: 1.3rem;
    }
     .contact-box .btn-main{
      font-size: 1.3rem;
    }
 
    footer {
      border-top: 1px solid var(--border);
      padding: 30px 0;
      color: var(--text);
      text-align: center;
      overflow: hidden;
    }

    .social-icons a {
      width: 50px;
      height: 50px;
      background: var(--card);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: white;
      margin: 0 8px;
      transition: 0.3s;
      border: 1px solid var(--border);
    }

    .social-icons a:hover {
      background: linear-gradient(
        90deg,
        var(--primary),
        var(--secondary)
      );
      transform: translateY(-5px);
    }
